@model IEnumerable<_07042024_s5_l1_esercizio.Models.Cliente>

@{
    ViewData["Title"] = "Clienti nel database";
}

<h2>Lista clienti</h2>

@foreach(var cliente in Model)
{
    <p>Nome: @cliente.Nome</p>
    @if (cliente.CF!="")
    {
        <p>Codice fiscale: @cliente.CF</p>
    }
    else
    {
        <p>Partita IVA: @cliente.PartitaIVA</p>
    }
    <p>Tipo cliente: @cliente.TipoCliente</p>
    <form asp-action="Delete" asp-route-id="@cliente.ClienteID">
        <button type="submit" value="Delete" class="btn btn-primary">Elimina</button>
    </form>
}
